/* 
    Created on : Dec 31, 2018, 4:21:14 PM
    Author     : sabbir hossain
*/

#apiExample, #apiForm {
    margin-top: 15px;
}
#apiExample .card {
    margin-bottom: 2px;
}
pre {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}
#responseHeader {
    padding: 20px 30px;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #eaeaea;
    border: 1px solid #fbeed5;  
}
.tab-content {
    margin-top: 10px;
}
.list-group-item {
    cursor: pointer;
}
.list-group-item:hover {
    background: #fafafa;
}